.tituloLojaDetalhe {
    text-decoration: underline;
}

.buttonsLojaDetalhe {
    display: flex;
}

.buttonsLojaDetalhe div {
    margin-left: 10px;
    margin-right: 10px;
}

.genericButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 40px;
    width: 210px;
    font-size: 1.2rem;
}

.genericButton:active {
    filter: brightness(7);
}

.excluir {
    background-color: #BDBDBD;
    color: white;
}

.excluir:active {
    color: #023047;
}

.inativar {
    border: 1px solid #FD9E02;
    color: #FD9E02;
}

.editar {
    background-color: #023047;
    color: white;
}


.storeName {
    margin-top: 32px;
    width: 95%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 74px;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.datas_status {
    display: flex;
    justify-content: space-between;
    min-width: 230px;
    margin-right: 20px;
    height: 100%;
}

.datas_status div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}

.datas_status span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #292D32;
    opacity: 0.6;
}

.statusStore .ativo {
    background-color: #56BC4F;
    padding: 10px;
    border-radius: 6px;
    color: white;
}

.dataCadastro {
    padding: 5px;
}

.statusStore .inativo {
    background-color: #FD9E02;
    padding: 5px;
    border-radius: 6px;
    color: white;
}

.storeName .name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    background: linear-gradient(91.09deg, #FB8500 0.3%, #FD9E02 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.imgs_resumo {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    padding-right: 2.5%;
    padding-left: 2.5%;
    justify-content: space-between;
    align-items: center;
}

.imgsStore {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 47.5%;
    height: 250px;
    margin-top: 30px;
    box-sizing: border-box;
}

.imgsStore img {
    width: auto;
    height: auto;
    max-width: 360px;
    max-height: 200px;
    border-radius: 10px;
}

.resumoStore {
    width: 47.5%;
    height: 200px;
    margin-top: 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.resumoStore h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #023047;
    margin-top: 10px;
}

.containerBanners {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    height: 100%;
}

.containerBanners div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 115px;
    border-radius: 10px;
    width: 24%;
    margin-left: 4px;
    margin-right: 4px;
    font-weight: 800;
}

.clientes {
    background: rgba(255, 103, 240, 0.1);
    color: #FF67F0;
}

.atendimentos {
    background: rgba(54, 181, 189, 0.1);
    color: #36B5BD;
}

.profissionais {
    background: rgba(123, 97, 255, 0.1);
    color: #7B61FF;
}

.servicos {
    background: rgba(251, 133, 0, 0.1);
    color: #FB8500;
}

.dadosStore {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    width: 95%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

.dadosStore span, .dadosStore div, .dadosStore label {
    color: #020303;
}

.dadosStore span, .dadosStore input {
    font-size: 16px;

}

.dadosStore label {
    font-size: 13px;
    margin-bottom: 5px;
}

.storeDados1 {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.storeDados1 div {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;

}

.storeDados1 label {
    opacity: 0.5;
}

.gitCaregamento {
    position: relative;
    top: 30%;
    width: 80px;
}

.cep input, .cnpj input, .tel input, .cpf input {
    text-decoration: none;
    background-color: transparent;
    border: none;
}

#horariosDeAtendimento div {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    margin-bottom: 0px;
}

#horariosDeAtendimento span {
    background: rgba(2, 48, 71, 0.1);
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 2px;
}

#horariosDeAtendimento .fechado {
    background: rgba(189, 189, 189, 0.1);
    color: #BDBDBD;
}

.dadosStore {
    margin-top: 30px;
}

.SobreLoja {
    max-width: 50%;
}

#servicosLoja {
    max-width: 48%;
}

#servicosLoja div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#servicosLoja div span {
    background: rgba(2, 48, 71, 0.1);
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #023047;
}

[data-anime] {
    opacity: 0;
    transition: 0.3s;

}

[data-anime="left"] {
    transform: translate3d(-50px, 0, 0);

}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

@media only screen and (max-width: 1000px) {

    .imgsStore_resumoStore {
        width: 90%;
    }

}