.loginUser {
    height: 100vh;
    display: flex;
    flex-direction: row;
    background: linear-gradient(91.09deg, #FB8500 0.3%, #FD9E02 100%);
    

}

.lado1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 50%;
    border-radius: 0px 20px 20px 0px;
    justify-content: center;
    
}
#img1 {
    position: absolute;

    top: 100px;
}


.senhaLogin img {

    max-width: 24px;

}

.lado2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: black;
    width: 660px;
    height: 600px;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 100px ;
}

.titulo {
    margin-top: 80px;
    font-weight: 600;
    line-height: 42px;
}

.emailLogin, .senhaLogin {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
    box-sizing: border-box;

}

.emailLogin input, .senhaLogin input {

    width: 90%;
    margin-top: 5px;
    margin-bottom: 25px;
    border: 1px solid #BDBDBD;
    border-radius: 8px;
    height: 40px;
    padding: 5px;
    padding-left: 16px;
    padding-right: 16px;

}


.emailLogin label, .senhaLogin label {
    opacity: 0.6;
}

.senhaLogin img {
    position: relative;
    left: 85%;
    top: -60px
}

.esqueciSenha {
    width: 49%;
    text-align: right;
    background: linear-gradient(91.09deg, #FB8500 0.3%, #FD9E02 100%);
    position: relative;
    top: -20px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-decoration: underline;
    text-decoration-color: #FD9E02;
    line-height: 24px;
}

.fazerLoginBtn {
    width: 50%;
    background-color: #FB8500;
    border-radius: 10px;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    line-height: 21;
    box-sizing: border-box;
    overflow: hidden;
  
}
.fazerLoginBtn:active {
    background-color: #FD9E02;
}

.linkCadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    height: 60px;
    
}

.linkCriarConta {
    color: #FB8500;
    text-decoration-color: #FD9E02 ;
}

#logoWhiteLogin {
    display: none;
    height: auto;
    max-width: 300px;
    margin-top: 50px;
}
.spanErro {
    position: relative;
    margin-top: -15px;
}

.emailLogin, .senhaLogin, .fazerLoginBtn, .esqueciSenha {
    width: 70%;
}

@media only screen and (max-width: 1500px) {

    .login {
        width: 550px;
    } 

}



@media only screen and (max-width: 1130px) {
    
    #logoWhiteLogin {
        display: block;
    }
    .login {
        margin-top: 50px;
    }
    .loginUser {
        flex-direction: column;
        align-items: center;
    }
    .lado1  {
        display: none;
        background-color: white;
        width: 100%;
        flex-direction: column;
        border-radius: 0px 0px 20px 20px;
    }
    #img2{
        margin-top: 200px;
    } 
    #img1 {
        position: relative;
    }

    .login {
        width: 80vw;
        max-width: 660px;
    } 
   

}

@media only screen and (max-width: 800px) {
    .lado2 {
        width: 90%;
        height: 600px;
    }

    .emailLogin, .senhaLogin, .fazerLoginBtn, .esqueciSenha {
        width: 80%;
    }

}