.cadastrarLojaCotainer {
    display: flex;
    align-items: center;
    background-color: white;
    flex-direction: column;
    transition: 0.5s;
    opacity: 0;
    color: black;
    z-index: -1;
    position: fixed;
    top: 20%;
    left: 50%;
    margin-left: -45vw;
    width: 90vw;
    height: 80vh;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    border-radius: 10px 10px 0px 0px;

    font-family: 'Poppins';
    font-style: normal;

}

.cadastrarLojaCotainerAnime {
    opacity: 1;
    transform: translate3d(0px, -100px, 0);
    z-index: 15;
}

.cadastrarLojaCotainer2 {
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

.headerCadastrarLoja {
    width: 90vw;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 6%;
    box-sizing: border-box;
    color: white;
    background: linear-gradient(91.09deg, #FB8500 0.3%, #FD9E02 100%);
    border-radius: 10px 10px 0px 0px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

.dadosLoja {
    width: 100%;
    padding: 24px 0px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #023047;
}

.addImgsCadLoja {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: max-content;
    padding-bottom: 30px;
}



.previewImgContainer {
    height: 180px;
    margin: 0px 20px 0px 0px;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
   
    box-sizing: border-box;
    overflow: hidden;
    color: white;
}
.previewImgContainer i {
    background-color: #FB8500;
    max-width: 35px;
    border-radius: 50%;
    padding: 5px;
    top: -35%;
    right: 10%;
    position: relative;
    font-size: 20px;
    cursor: pointer;
}

.previewImgContainer img {
    max-height: 150px;
    border: 1px solid rgb(160, 158, 158);
    border-radius: 15%;
    height: auto;
    width: auto;
}

.addImgsCadPart2 {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.containerPart2 {
    display: flex; 
    flex-wrap: wrap;
    
}

.adicionarFoto {
    height: 14.2vh;
    max-height: 170px;
    min-height: 110px;
    margin-top: 10px;
    width: 14.8vw;
    max-width: 250px;
    min-width: 200px;
}

.cadastrarLojaCotainer .storeDadosEditarLoja {
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.cadastrarLojaCotainer .storeDadosEditarLoja div {
    padding-right: 20px;
}

.cadastrarLojaCotainer .name input, .cadastrarLojaCotainer .razaoSocial input, .cadastrarLojaCotainer .complemento input, .cadastrarLojaCotainer .cidade input {
    width: 250px;
}

.storeDadosEditarLoja2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.storeDadosEditarLoja2 div {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}


.resumo {
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #292D32;
}

.resumo span {
    padding: 20px 0px
}

.sobreLoja {
    width: 40%;
}

.sobreLoja span {
    padding: 20px 0px;
}

.sobreLoja textarea {
    display: flex;
    height: 110px;
    border: 1px solid #BDBDBD;
    border-radius: 8px;
    padding-left: 10px;
    font-family: 'Poppins';
    font-style: normal;
    resize: none;
}

.representanteLegal h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #023047;

}

.representanteLegal {
    display: flex;
    flex-direction: column;
}

.representanteLegal .storeDados1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.representanteLegal .storeDados1 div {
    margin-right: 30px;
}

.storeDadosEditarLoja2 .btnCancelar, .btnFinalizarCadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 48px;
    width: 247px;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    cursor: pointer;
}

.btnFinalizarCadastro {
    background: #BDBDBD;
    color: white;
}

.storeDadosEditarLoja2 .btnCancelar:active {
    filter: brightness(3);
}

.btnFinalizarCadastro:active {
    background-color: #ffffff;
    color: #023047;
}

.storeDadosEditarLoja2 input {
    text-decoration: solid;
    border: 1px solid #BDBDBD;
    border-radius: 8px;
    height: 40px;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 16px;
    line-height: 10px;
}

.storeDadosEditarLoja2 label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #292D32;
    opacity: 0.6;
}

.representanteLegalAdressdata {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    
}

.representanteLegalAdressdata div {
    width: 190px;
    min-width: max-content;
    box-sizing: border-box;
}