.recuperarSenha {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 9;
    justify-content: center;
    align-items: center;
}

.recuperarSenha h2 {
    font-size: 30px;
}

.showBanner0, .showBanner1, .showBanner2, .showBanner3, .showBanner4 {
    background-color: white;
    color: black;
    font-size: 20px;
    line-height: 28px;
    border-radius: 10px;
    border-top: 14px solid #FD9E02;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    user-select: none;
}

.showBanner0 {
    box-sizing: border-box;
    max-width: 690px;
    min-height: 340px;
}

.showBanner0 img, .showBanner2 img, .bannerResetPass img {
    cursor: pointer;
}

.enviarEmailRec {
    cursor: pointer;
}

.showBanner4 {
    height: 270px;
    width: 514px;
    flex-direction: column;
    justify-content: space-around;
}

.showBanner0 .titulo, .showBanner2 .titulo, .bannerResetPass .titulo {
    margin-top: 30px;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

}

.showBanner0 .titulo img, .showBanner2 .titulo img, .bannerResetPass .titulo img {
    position: relative;
}

.showBanner0 span {
    margin-top: 50px;
    padding: 10px;
    margin-right: 5%;
    margin-left: 5%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
}

.enviarEmailRec, .validarCodigo, .Prosseguir {
    background-color: #FB8500;
    height: 50px;
    width: 88%;
    border-radius: 7px;
    color: white;
    font-weight: 600;
    line-height: 21px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.enviarEmailRec:active, .validarCodigo:active, .Prosseguir:active {
    filter: brightness(1.3);
}

.showBanner1 {
    padding: 20px;
    border-top: 14px solid #56BC4F;

}

.iconsBanner1 {
    width: 100%;
    display: flex;
    justify-content: right;
}

.iconsBanner1 img, .showBanner1 .validarCodigo {
    cursor: pointer;
}


.showBanner2 .titulo {
    margin-bottom: 20px;
}

#btnCerto {
    position: relative;
    top: -15px;
    margin-bottom: 30px;
}

.showBanner1 h2 {
    font-weight: 600;
    font-size: 22px;
    line-height: 33.6px;
    margin-bottom: 30px;
}

.titleValidarCodigo {
    display: flex;
    margin-top: 34px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 30px;
}

#h2ShowBanner {

    font-size: 36px;
}

#btnVoltarValidarCod {
    position: relative;
    left: -25%;
}

.titleValidarCodigo img {
    position: relative;
    left: -45%;
}

.showBanner2 {
    padding: 20px;
    min-width: 500px;
}

.showBanner3 .titulo {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;    
}

.showBanner3 .titulo  h1 {
    opacity: 0.7;
}


.basicInputContainer {

    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    box-sizing: border-box;
    align-items: center;


}

.basicInputContainer input {

    width: 80%;
    margin-top: 5px;
    margin-bottom: 25px;
    border: 1px solid #BDBDBD;
    border-radius: 8px;
    height: 40px;
    padding: 5px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 20px;

}

.basicInputContainer label {
    width: 85%;
    text-align: left;
    opacity: 0.6;
}

.basicInputContainer img {
    position: relative;
    right: -35%;
    top: -60px;
    cursor: pointer;
}

.basicInputContainer span {
    font-size: 16px;
    width: 85%;
   
}

.showBanner3 {
    min-width: 500px;
    padding: 20px;
    box-sizing: border-box;
}

.containerBanner {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    z-index: -1;
    align-items: center;
    justify-content: center;
    background-color: rgba(15, 15, 15, 0.3);
    transition: 0.4s;
}

.bannerReqSenha {
   
    transition: 0.4s;
    opacity: 0;
    z-index: -1;
    position: absolute;
    user-select: none;
 

}

.animeBanner {

    opacity: 1;
    transform: translate3d(0px, -100px, 0);
    z-index: 2;
    transition: 0.4s;

}

.loader {
    animation: is-rotating 0.5s infinite;
    border: 6px solid #e5e5e5;
    border-radius: 50%;
    border-top-color: #FB8500;
    height: 30px;
    width:  30px;
   
}

@keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }
}


.buttonProsseguirDesativado {
    background-color: #a1a1a1;
    height: 50px;
    width: 88%;
    border-radius: 7px;
    color: white;
    font-weight: 600;
    line-height: 21px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.buttonProsseguirDesativado :active {
    filter: brightness(1.3);
}